/dist/
*.swp
.DS_Store
/build
/nbproject
src/files/synthetic_eeg_data_testv1.csv
/src/files/output/testfile-part3.txt
/src/files/output/testfile-part2.txt
/src/files/output/testfile-part1.txt
/src/files/output/testfile-part4.txt
src/files/input/synthetic_eeg_data_testv.csv
/src/files/input/new-shortCSVFileVersion.csv
logs/app-2024-11-11-1.log
logs/app-2024-11-11-1.log.gz
logs/app-2024-11-11-2.log.gz
logs/app-2024-11-11-3.log.gz
logs/app-2024-11-11-4.log.gz
logs/app-2024-11-11-5.log.gz
logs/app-2024-11-11-6.log.gz
logs/app-2024-11-11-7.log.gz
logs/app-2024-11-12-1.log.gz
logs/app-2024-11-12-2.log.gz
logs/app-2024-11-12-3.log.gz
logs/app-2024-11-12-4.log.gz
logs/app-2024-11-12-5.log.gz
logs/app-2024-11-12-6.log.gz
logs/app-2024-11-12-7.log.gz
logs/app-2024-11-13-1.log.gz
logs/app-2024-11-13-2.log.gz
logs/app-2024-11-13-3.log.gz
logs/app-2024-11-13-4.log.gz
logs/app-2024-11-13-5.log.gz
logs/app-2024-11-13-6.log.gz
logs/app-2024-11-13-7.log
logs/app.log
nbproject/private/private.properties
nbproject/project.properties
src/files/input/output.csv
src/files/input/shortCSVFileVersion-copy.csv
src/files/input/shortCSVFileVersion.csv
src/files/input/single_eeg.csv
src/files/input/synthetic_eeg_data_testv_clone.csv
src/files/input/synthetic_eeg_data_testv_original.csv
src/gui/MainMenuJFrame.form
src/gui/MainMenuJFrame.java
src/logs/app.log
src/poc/ProofOfConcept.java
src/poc/ProofOfConcept.java
testfile.txt3
/lib
/nbproject
/nbproject
/nbproject
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
