/dist/
*.swp
.DS_Store
/build
/nbproject
src/files/synthetic_eeg_data_testv1.csv
/src/files/output/testfile-part3.txt
/src/files/output/testfile-part2.txt
/src/files/output/testfile-part1.txt
/src/files/output/testfile-part4.txt
src/files/input/synthetic_eeg_data_testv.csv
